{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Добро пожаловать на страницу "Вотсап школа"!</h1>

    <h2>Почему мы крутые:</h2>
    <p>Уберите из слова "школа" букву "ш" и получится кола</p>

    <h2>Перечень вступительных испытаний 2024-2025 уч. год:</h2>
    <ul>
        <li>Экзамен по мэмам(2010-2019)</li>
        <img class="container-img" src="/static/images/Brz6.gif" alt="Пример">
        <li>Сдача нормативов: bottle flip challange на колличество </li>
        <img class="container-img" src="/static/images/bottle-flip-challenge-bottled-water.gif" alt="Наш дэб-рекордсмен">
        <li>Сдача нормативов: дэб на время </li>
        <img class="container-img" src="/static/images/dab.gif" alt="Пример">
        <li>Блиц-опрос всех диссов и версусов(2010-2016)</li>
         <img class="container-img" src="/static/images/lizka.gif" alt="Пример">
    </ul>

    <p>Мы гордимся своими успехами и стремимся к новым победам!</p>
</div>
{% endblock %}