{% extends "base.html" %}
{% block content %}
<div>
    <h1>Добро пожаловать на страницу "Вотсап школа"!</h1>

    <h2>Почему мы крутые:</h2>
    <p>Уберите из слова "школа" букву "ш" и получится кола</p>

    <h2>Перечень вступительных испытаний 2024-2025 уч. год:</h2>
    <ul>
        <li>Экзамен по мэмам(2010-2019)</li>
        <li>Сдача нормативов: дэб на время </li>
        <img src="C:\Users\Professional\PycharmProjectshwhw\flask_numberONE_v3\app\templates" alt="Пример">
        <li>Сдача нормативов: bottle flip challange на колличество </li>

        <li>Блиц-опрос всех диссов(2010-2016)</li>
    </ul>

    <p>Мы гордимся своими успехами и стремимся к новым победам!</p>
</div>
{% endblock %}